<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>214636383156-r6gq8vo8f20almkjgo6l0a0nsbk3i60j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.214636383156-r6gq8vo8f20almkjgo6l0a0nsbk3i60j</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>214636383156-g74qsqf15eo37v9nmjbclmn348be6ln5.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAQsXGwPavP0ddcmhS6NDABVRFAVVGAjTo</string>
	<key>GCM_SENDER_ID</key>
	<string>214636383156</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.Quizapp.quiz</string>
	<key>PROJECT_ID</key>
	<string>quizzy-a070a</string>
	<key>STORAGE_BUCKET</key>
	<string>quizzy-a070a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:214636383156:ios:132b2fa4e0725a1d7ec0e1</string>
	<key>DATABASE_URL</key>
	<string>https://quizzy-a070a.firebaseio.com</string>
</dict>
</plist>